@media screen and (max-width: 900px) {
  .footer__content {
    grid-template-columns: 1fr 3fr;
  }

  .footer__about {
    grid-column: 1/-1;
  }

  .footer__cats {
    grid-column: 1/2;
  }

  .footer__newsletter {
    grid-column: 2/-1;
  }

  .footer__copyrights {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  .footer__about {
    grid-column: 1/-1;
  }

  .footer__cats {
    grid-column: 1/-1;
  }

  .footer__newsletter {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 900px) {
  .authors__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .authors__cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  .community__content {
    grid-template-columns: 1fr;
  }
}
