*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", sans-serif;
  line-height: 1;
  font-weight: 400;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: auto;
  position: relative;
  padding-top: 200px;
}

.hero {
  height: 100vh;
  background-color: rgb(255, 240, 133);
  opacity: 0.9;
  position: relative;
}

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 240, 133, 0.9);
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero__primary-title {
  font-size: 7.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -2px;
  position: relative;
}

.hero__primary-title::before {
  content: "🔥 TRENDING NOW";
  position: absolute;
  left: 0;
  top: -6.4rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.6rem;
  color: #fff;
  background-color: #000;
  transform: rotate(-4deg);
  box-shadow: -3px -3px 0px #000;
}

.hero__title-word {
  display: block;
  text-shadow: 3px 3px 0 #000;
}

.hero__title-word--black {
  color: black;
}
.hero__title-word--red {
  color: #e7000b;
}
.hero__title-word--blue {
  color: #155dfc;
}

.hero__img {
  height: 400px;
}

.square--big {
  width: 125px;
  height: 125px;
}

.square--small {
  width: 100px;
  height: 100px;
}

.square--blue {
  background-color: blue;
}

.square--red {
  background-color: red;
}

.square--left-top {
  position: absolute;
  z-index: -1;
  top: 30px;
  left: 50px;
  transform: rotate(15deg);
}

.square--right-top {
  position: absolute;
  z-index: -1;
  top: 200px;
  right: 100px;
  transform: rotate(-40deg);
}
