:root {
  --main-color: #000;
  --section-color: oklch(98.5% 0.002 247.839);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin-inline: auto;
}

header {
  & h1 {
    font-size: 44px;
  }

  p {
  }

  .btn {
  }

  .btn--big {
  }

  .btn--small {
  }
}

/* 
img {
  width: 100%;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */
