:root {
  --main-color: #000;
  --section-color: oklch(98.5% 0.002 247.839);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin-inline: auto;
}

header {
  background-color: #fdfdfe;
  padding-block: 64px;
  & h1 {
    font-size: 52px;
    font-weight: 900;
  }

  p {
    font-size: 20px;
    line-height: 1.7;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .btn--main {
    background-color: var(--main-color);
  }

  .btn--alt {
    background-color: #fdfdfe;
    color: #000;
    border: 1px solid #d1d5dc;
  }

  img {
    width: 450px;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
  }
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
