:root {
  --main-color: #000;
  --section-color: oklch(98.5% 0.002 247.839);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin-inline: auto;
}

header {
  background-color: var(--section-color);
  & h1 {
    font-size: 44px;
  }

  p {
    font-size: 20px;
  }

  .btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
  }

  .btn--big {
    background-color: var(--main-color);
  }

  .btn--small {
    background-color: transparent;
  }
}

/* 
img {
  width: 100%;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */
