/* variables */

:root {
  --main-text-color: rgb(127, 34, 254);
  --main-btn-color: rgb(142, 81, 255);
}

/* global rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Exo", sans-serif;
  color: #333;
  line-height: 1;
}

span,
a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 120rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

/* components */
.logo-icon-container {
  background-color: var(--main-btn-color);
  padding: 5px;
}

.logo-icon {
  width: 24px;
  height: 24px;
  /* color: #fff; */
}
/* header */
.header .container {
  display: flex;
  justify-content: space-between;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
